[submodule "themes/Ananke"]
    path = themes/Ananke
    url = https://github.com/SZLforGithub/gohugo-theme-ananke
[submodule "public"]
	path = public
	url = git@github.com:SZLforGithub/SZLforGithub.github.io.git
