<div class="backend">
    A backend engineer with a little frontend and a little devops.
</div>

<div style="padding-left: 1em;">
    <i class="fas fa-chevron-left"></i>
    <span style="color: #8993be;"><i class="fab fa-php"></i></span>
    <span style="color: Tomato;"><i class="fab fa-laravel"></i></span>
    <span style="position: relative; top: 5px; display: inline-block; width: 22px !important; height: 24px;"><img src="https://img.icons8.com/color/500/000000/golang.png" /></span>
    <span style="color: #f1db4f;"><i class="fab fa-js"></i></span>
    <span style="color: #83cd29;"><i class="fab fa-node-js"></i></span>
    <span style="color: #f05133"><i class="fab fa-git-alt"></i></span>
    <span style="color: #4baee8;"><i class="fas fa-database"></i></span>
    <span style="color: #333333;"><i class="fab fa-linux "></i></span>
    <span style="color: #008cdb;"><i class="fab fa-docker"></i></span>
    <span style="color: #2f4f5c;"><i class="fab fa-jenkins"></i></span>
    <i class="fas fa-chevron-right"></i>
</div>

<br>

<div class="thinker">
    A <I>Thinker</I> instance not inheriting from <I>Talent</I> but implementing <I>KeepLearning</I>.
</div>

<div style="padding-left: 1em;">
    <i class="fas fa-chevron-left"></i>
    <span style="color: #d696a5;"><i class="fas fa-brain"></i></span>
    <span style="color: #84838c;"><i class="fas fa-laptop-code"></i></span>
    <span style="color: #523517;"><i class="fas fa-book"></i></span>
    <span style="color: #f7bb0a;"><i class="far fa-lightbulb"></i></span>
    <i class="fas fa-chevron-right"></i>
</div>

